name: npm publish

# 发布版本触发
on:
  push:
    tags:
      - v*
      
permissions:
  contents: write
  id-token: write  # Required for OIDC

jobs:
  publish:
    if: github.event.repository.owner.id == github.event.sender.id
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js
        uses: actions/setup-node@v1
        with:
          node-version: 22.x

      - name: npm i
        run: |
          npm i
      
      - name: npm build
        run: |
          npm run build
          
      - name: npm publish
        run: |
          cd ./dist
          - name: Update npm
          -run: npm install -g npm@latest
          - run: npm ci
          - run: npm run build --if-present
          - run: npm test
          npm publish -r --tag latest --no-git-checks

      - name: Automatic Releases
        uses: marvinpinto/action-automatic-releases@v1.2.1
        with:
          repo_token: "${{ secrets.GITHUB_TOKEN }}"
          prerelease: false
        
